#chatList {
  border-style: solid;
  box-shadow: 0 3px 6px teal, 0 3px 6px teal;
  border-color:white;
  margin:0 !important;
  margin: 5%;
  height: 500px;
  left: 25%;
  border-radius: 6px;
}

#chatRoom{
  background: #fff;
  border-radius: 6px;
  overflow: hidden;
  padding-bottom: 5%;
  padding-top: 5%;
  box-shadow: 0 3px 6px teal, 0 3px 6px teal;
  border-color: white;
  border-style: solid;
  margin-bottom: 5%;
  left: 35%;
  height: 500px;
  width: 600px;
}

#chattyStuff{
  margin-top:5%;
}