/* .profile {
    margin-top: 5%;

    margin-bottom: 5%;

}

#userImage{
    padding-top: 20px;
    right: 25%;

}

#profileUserName {
    padding-top: 30px;
}


#userProfile, #rentList, #favoritesList {
    margin-top: 2%;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    padding-bottom: 5%;
    padding-top: 5%;
    padding-left: 1%;
    padding-right: 1%;
    box-shadow: 0 3px 6px teal, 0 3px 6px teal;
    border-color: white;
    border-style: solid;
}

#rentList {
    left: 10%;

}

#favoritesList {
    right: 2%;
    margin: 5%;
} */

#rentList, #favoritesList {
    margin-top: 2%;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    padding-bottom: 5%;
    padding-top: 5%;
    box-shadow: 0 3px 6px teal, 0 3px 6px teal;
    border-color: white;
    border-style: solid;
}

#rentList {
    margin-right: 2%;
}