.profile {
    margin-top: 5%;

    margin-bottom: 5%;

}

#userImage{
    padding-top: 20px;
    right: 25%;

}

#profileUserName {
    padding-top: 30px;
}


#userProfile, .rentList, #favoritesList {
    margin-top: 2%;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    padding-bottom: 5%;
    padding-top: 5%;
    padding-left: 5%;
    padding-right: 5%;
    box-shadow: 0 3px 6px teal, 0 3px 6px teal;
    border-color: white;
    border-style: solid;
    margin-left: 2%;
}

#rentList {
    left: 15%;
}

#favoritesList {
    left: 12%
}
