.editItemButton{
    border-radius: 5px;
    width: 60px;
    box-shadow: 0 1px 3px teal, 0 1px 3px teal;
    background-color: white;
    border-color: white;
    font-family: 'Patua One', cursive;
    color: teal;
    margin: 5px;
    float: center;
}

#deleteItemButton{
    border-radius: 5px;
    width: 60px;
    box-shadow: 0 1px 3px teal, 0 1px 3px teal;
    background-color: white;
    border-color: white;
    font-family: 'Patua One', cursive;
    color: teal;
    margin: 5px;
    float:right;
}

.justTheName{
    font-size:18px;
    float: left;
    margin: 5px;
}