#postForm {
    margin-top: 5%;
    width: 85%;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    padding-bottom: 5%;
    padding-top: 5%;
    padding-left: 5%;
    padding-right: 5%;
    box-shadow: 0 3px 6px #999, 0 3px 6px grey;
    border-color: rgb(233, 199, 199);
    border-style: solid;
    margin-bottom: 5%;
}
#itemDescription {
    height: 100px;
}

#uploaditemText {
    text-align: left;
    color: black;
}

.submitForm {
    border-radius: 5px;
    width: 100px;
    box-shadow: 0 1px 3px #999, 0 1px 3px grey;

}

.submitForm:hover {
    color: teal;
}
