#postForm {
    margin-top: 5%;
    width: 85%;
    background: #fff;
    border-radius: 6px;
    overflow: hidden;
    padding-bottom: 5%;
    padding-top: 5%;
    padding-left: 5%;
    padding-right: 5%;
    box-shadow: 0 3px 6px teal, 0 3px 6px teal;
    border-color: teal;
    border-style: solid;
    margin-bottom: 5%;
}
#itemDescription {
    height: 100px;
}

#uploaditemText {
    text-align: left;
    color: black;
}

.submitForm {
    border-radius: 5px;
    width: 100px;
    box-shadow: 0 1px 3px teal, 0 1px 3px teal;
}

.submitForm:hover {
    color: teal;
}

#buttoncolor {
    background-color:teal;
}

#buttoncolor:hover{
    color: teal;
    background-color:white;
}

#postForm {
    border-color:white;
}
