#showRandomItems {
    margin-top: 5%;
    width: 85%;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    padding-bottom: 5%;
    padding-top: 5%;
    padding-left: 5%;
    padding-right: 5%;
    box-shadow: 0 3px 6px #999, 0 3px 6px grey;
    border-color: white;
    border-style: solid;
    margin-bottom: 5%;
}
#searchForm {
    margin-top: 20px;
}

.searchField {
    width: 400px;
    border-style: solid;
    border-radius: 10px;
    border-color: grey;
    right: 20%;
}

h2, h3, h4 {
    font-family: 'Courier New', Courier, monospace;
}