
#showItems {
    border-color: teal;
    border-radius: 2px;
    height: 200px;
    margin: 2rem;
    position: relative;
    
    box-shadow: 0 3px 6px  teal, 0 3px 6px teal;
    text-align: left;
    margin-top: 10px;
}

#homePageRow2 {
    margin-top: 2%;
}
#searchForm {
    margin-top: 20px;
}

.searchField {
    width: 400px;
    border-style: solid;
    border-color: grey;
    right: 20%;
    box-shadow: 0 1px 1px , 0 1px 1px ;
}

#searchBar {
    margin-bottom: 2%;
}

h2, h3, h4 {
    font-family: 'Courier New', Courier, monospace;
}

.searchSubmit {  
    margin-left: 10px;
}

.searchSubmit:hover {
    color: teal;
}

/* #searchicon {
    
    height: 25px;
    width: 25px;
} */